*.code-workspace
.DS_Store
.vscode/
*.wrangler
.idea/
*.log
node_modules/
dist/
.env
.env.local
.env.*.local
coverage/
.cache/
.next/
out/
build/
*.tsbuildinfo
*.swp
thumbs.db
.sass-cache/
.cache-loader/
*.pem
*.p12
*.jks
*.keystore
*.iml
*.class
wrangler.toml.local
